---
title: Bows
---

<table border="0" width="100%" cellpadding="25">

<tr>
<TD></td>
</tr>
<tr>
<TD>

<p><img src="/images/bo_re1.jpg" width="400" height="366" alt="Bow before and after repair - mammoth ivory and lizard skin used"></p>
</td>

<td background=white;><P align=justify><B><SPAN
            class="h1">B</SPAN></B><SPAN
              class="h3">ows demand work of highest precision even in the simplest operations like re-hairing.
            </SPAN></FONT>
            <P align=justify><SPAN  class="h3">While working on the bows, the most care is taken in order to prevent any, even slightest damage. Unfortunately from time to time we see bows that were damaged (often inside the hair mortises or under frog slide where player can never see it!) while been handled by unqualified re-hairers.
            </SPAN></FONT>
            <P align=justify><SPAN  class="h3">
            We use only top quality materials for the repairs - mammoth ivory, custom made antique screws, bronze eyelets, lizard skin ... etc, etc, etc
            </SPAN></FONT>
</TD>
<TD></td></tr>
<tr><TD></td></tr>

</table>
