---
title: Contact
---
<table border="0" width="100%" cellspacing="40">
    <tr>
        <td><P align="left"><B><SPAN class="h3">
            <SPAN class="h4">Please, call to arrange an appointment:<br/></SPAN><B>
                (+47) 991 09 947<br/>
        </span></B><SPAN
                       class="h2"> <br>Roman Malamant<br>Kirkeveien 37 A, 0368 Oslo<br>NORWAY</p></B>
            <P align=justify><SPAN
                                 class="h3"><img src="/images/email.jpg" />
            </SPAN></p>
        </td>

        <TD align="left">
            <img src="/images/contact.jpg" width="334" height="412" alt="Roman Malamant, violin maker & restorer, Oslo, Norway">
        </td>
    </tr>
</table>
