---
title: Home
---
<br>
<table border="0" width="100%" cellpadding="25">
<tr>
<td></td>
<td><P align=justify><B><SPAN
            class="h1">W</SPAN></B><SPAN
            class="h3">elcome to the workshop of Roman Malamant,
            restorer of fine string instruments.&nbsp; Our violin shop is located in Oslo, Norway.
            </span></p>
            <P align=justify><SPAN class="h3">
            We specialize in restoration of bowed string instruments as well as sound adjustments, bow repairs and maintenance.
            </span></P>
            <P align=justify><SPAN class="h3">
            We follow the traditional
            repair methods and make everything possible to preserve an instrument in its original condition. An instrument is a voice that allows you to express your artistic personality. Roman Malamant is known for his extraordinary ability to adjust an instrument to player's artistic style and musical taste.
            </SPAN></P>
            <P align=justify><SPAN
            class="h3">Thank you for visiting and please don't hesitate to contact us for all your instrument needs.
            </SPAN>
</TD>

<TD align="right">
    <SPAN class="h2">Decades of experience in restoring, care and adjusting of <br>string instruments - violin, viola, cello and their bows</SPAN>

<p><img src="/images/palitra.jpg" width="450" height="344" alt="Welcome to Roman Malamant, violin maker & restorer, Oslo, Norway"></p>
</td>
</tr>
<tr><td></td></tr>

</table>
