---
title: Restoration
---

<br><br>
<table border="0" width="100%" cellpadding="25">
    <tr>
        <td></td>
        <td><P align=justify><B><SPAN
                                    class="h1">W</SPAN></B><SPAN
                                                               class="h3">hile sound and playability are of the most importance to us, careful and invisible restorations are a key feature of our workshop.
                                    </span></p>
                                    <P align=justify><SPAN
                                                         class="h3">We are following conservative ways of restoring instruments. First and foremost our goal is to preserve the original wood and varnish as much as possible. We use only the highest quality materials in our work - old wood and retouching varnishes of different kinds in order to fit to the original as close as possible.
             </FONT></span></P><P align=justify><SPAN
                                                    class="h3">Careful cleaning, precise gluing of cracks and fitting of missing pieces is a key to success in every restoration project.
             </FONT></span></P>
        </TD>

        <TD align="right">
            <SPAN class="h2"> We offer a full attention to every instrument of any level - be it an international soloist's, or a student's violin</SPAN>

            <p><img src="/images/rest1.jpg"width="414" height="332" alt="Welcome to Roman Malamant, violin maker & restorer, Oslo, Norway"></p>
        </td>
    </tr>
    <tr><td></td></tr>

</table>
