---
title: Sound
---

<table border="0" width="100%" cellspacing=60">
    <tr>
        <TD align="right">
            <p><img src="/images/capr.jpg"width="278" height="400" alt="Roman Malamant, violin maker & restorer"></p>
        </td>

        <td><P align="right"><B><SPAN class="h1">A</SPAN></B><SPAN
                                                                 class="h3">RE YOU SATISFIED WITH THE SOUND OF YOUR INSTRUMENT?</p><P align="right"><B><SPAN
                                                                                                                                                           class="h1">D</SPAN></B><SPAN
                                                                                                                                                                                      class="h3">O YOU EVER FEEL THAT IT IS DIFFICULY TO PLAY?</SPAN></p>
            <P align="right"><B><SPAN
                                    class="h1">D</SPAN></B><SPAN
                                                               class="h2">OES THE INSTRUMENT RESPOND WELL?
                                    </span></p><br>
                                    <P align="center"><SPAN class="h2">Don't hesitate to contact for assistance
            </FONT></span></P>
                                    <P align="justify">
                                        <B><SPAN class="h1">Y</SPAN></B><SPAN class="h3">ears of experience in sound adjustments. We are working with players of all levels: soloists, chamber musicians, orchestra players and students. We believe that YOUR violin, viola or cello need to be adjusted to let YOU express your color palette and fully project your artistic personality.
                                        </SPAN></P>
                                    <P align=justify><SPAN
                                                         class="h3">We use number of different methods of dealing
                                        with all kinds of sound problems. Depending on your instrument, it could be just a simple soundpost adjustment,or in more difficult cases we could recommend a more complicated repair.
                                    </SPAN>
        </td>
    </tr>


</table>
