body {
    padding: 0;
    margin-top: 0;
    text-align:center;
    background-color: #e9a660;
    background-attachment: scroll;
    background-image: url(/images/wood4b.jpg);
    background-repeat: repeat;
}

#wrap	{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width:  900px;
}

#logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width:  900px;
    background-image: url(/images/header_bg.gif);
    background-repeat: repeat-x;
    border: none;
}

#nav {
    padding-top:  0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: white;
    height: 20px;
    background-image: url(/images/main.jpg);
    background-color: white;
}

#nav .select {
    padding-top:  0px;
    margin: 0px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: black;
    height: 3px;
    background-color: white;
}

#main {
    min-height: 500px;
    background-color: #ffffff;
    background-image: url(/images/main.jpg);
}

.h1 {
    font-size: 18pt;
    font-family: Verdana;
}

.h2 {
    font-size: 10pt;
    font-family: Verdana;
}

.h3 {
    font-size: 9pt;
    font-family: Verdana;
}

.h4 {
    font-size: 8pt;
    font-family: Verdana;
}

#nav a, #nav a:visited {
    position: relative;
    font-weight: bold;
    color: transparent;
    vertical-align: middle;
    text-decoration: none;
}

#nav a:hover  {
    color: #cc2a10;
    vertical-align: middle;
}

#footer {
    padding-top:  0px;
    margin: 0px auto;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    vertical-align: text-bottom;
    color: #ffe29d;
    height: 30px;
    background-color: #a52617;
    background-image: url(/images/tile_back.jpg);
}

#copy {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    line-height: 12pt;
    padding-top:  3px;
}

.shadow{
    border:1px solid silver;
    font:10pt arial;
    position:relative;
    display:inline;
    background:white;
    z-index:100
}
