<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Welcome to Roman Malamant, restorer of fine string instruments. 18 years of experience in adjusting, restoring and care of string instruments - violin, viola, cello and bows">
    <meta name="keywords" content="violin maker, violin restorer, fiolin bygger, fiolinbygger, fiolin, bratch, restorer, strings, violin, viola, cello, accessories, repairs, cases, workshop, roman, malamant, Oslo">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

    <link rel="stylesheet" href="/style.css">

    <title><%= "Roman Malamant, restorer of fine string instruments - #{@item[:title]}" %></title>
  </head>
  <body>
    <div id="logo">
      <a href="/">
        <img src="/images/logo.png" alt="ROMAN MALAMANT restorer of fine string instruments" title="ROMAN MALAMANT, violin maker & restorer" />
      </a>
    </div>
    <div id="wrap">
      <div id="nav">
        <span class="txtNav">
          <%= nav_link :home, path: '/' %>
          <%= nav_link :sound %>
          <%= nav_link :restoration %>
          <%= nav_link :bows %>
          <%= nav_link :contact %>
        </span>
      </div>
      <div id="main"><%= yield %></div>
      <div id="footer"></div>
    </div>
    <div id="copy">
    by appointment: tlf. (+47) 991 09 947.<br> Kirkeveien 37 A, 0368 Oslo, Norway.<br>&copy; 2018 Roman Malamant All rights reserved
    </div>

    <script>
      (function() {
        var e = document.getElementsByClassName("nav-img");
        var r = /(_button)[0-9]/;
        var f = function() { this.src = this.src.replace(r, "$11"); };
        var g = function() { this.src = this.src.replace(r, "$12"); };
        for (var i = 0; i < e.length; i++) {
          e[i].onmouseout = f;
          e[i].onmouseover = g;
        }
      })();
    </script>
  </body>
</html>
